{% extends 'base.html' %}

{% block head %}
<title>MtG Card Collection</title>
{% endblock %}

{% block body %}
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bio/">Biography</a>
    <a href="/resume/">Resume</a>
    <div class="dropdown">
        <button class="dropbtn">Planner
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/to_do_list/">To Do List</a>
            <a href="/grocery/">Grocery List</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">MtG
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">MtG Decks</a>
            <a href="/mtg_col/">MtG Collection</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Links
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://www.linkedin.com/in/johnbiersdorf">LinkedIn</a>
            <a href="https://github.com/jbiersdo">GitHub</a>
        </div>
    </div>
</div>
<div class="content">
    <h1 style="text-align: center">Magic the Gathering Card Collection</h1>
    {% if cards|length < 1 %}
    <h2 style="text-align: center">There are no cards in collection. Add one below.</h2>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Mana Cost</th>
            <th>Actions</th>
        </tr>
        {% for card in cards %}    
            <tr>
                <td>
                    <p>{{ card.name }}</p>
                    <img class="art-large" src={{ card.art_large }} width="214" height="300"/>
                </td>
                <td>{{ card.quant }}</td>
                <td>
                    {% set images = card.mana.split(',') %}
                    {% for image in images %}
                        <img class="mana" src={{ image }} height="20" width="20">
                    {% endfor %}
                </td>
                <td>
                    <a href="/delete_mtg_col/{{card.id}}">Delete</a>
                    <br>
                    <a href="/update_mtg_col/{{card.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/mtg_col/" method="POST">
            <input type="text" name="name" id="name">
            <input type="text" name="quant" id="quant">
            <input type="submit" value="Add Card">
        </form>
    </div>
</div>
{% endblock %}