{% extends 'base.html' %}

{% block head %}
<title>To Do List</title>
{% endblock %}

{% block body %}
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bio/">Biography</a>
    <a href="/resume/">Resume</a>
    <div class="dropdown">
        <button class="dropbtn">Planner
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/to_do_list/">To Do List</a>
            <a href="/grocery/">Grocery List</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">MtG
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">MtG Decks</a>
            <a href="#">MtG Collection</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Links
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://www.linkedin.com/in/johnbiersdorf">LinkedIn</a>
            <a href="https://github.com/jbiersdo">GitHub</a>
        </div>
    </div>
</div>
<div class="content">
    <h1 style="text-align: center">To Do List</h1>
    {% if tasks|length < 1 %}
    <h2 style="text-align: center">There are no tasks. Create one below.</h2>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}    
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete_todo/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update_todo/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/to_do_list/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}